name: Docker Image CI

on:
  push:
    branches: [ "main" ]


jobs:

  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file ./docker/Dockerfile --tag porcupine-pipeline:$(date +%s)
